* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #003366;
    /* Azul oscuro */
    color: white;
    text-align: center;
    padding: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

.play-in {
    overflow-x: auto;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #003366;
    color: white;
}

td {
    background-color: #f9f9f9;
}

tr:nth-child(even) td {
    background-color: #f2f2f2;
}

.video-container {
    display: flex;
    gap: 10px;
    /* Espacio entre los videos */
}

.video-container iframe {
    flex: 1;
    /* Para que ambos videos se ajusten al 50% del contenedor */
}

footer {
    text-align: center;
    background-color: #003366;
    color: white;
    padding: 10px;
    margin-top: 20px;
}